
.modal-component {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .modal-content {
    background-color: white;
    z-index: 999;
    border-radius: 6px;
    position: relative;
    min-height: 250px;
    overflow: hidden;
    flex-direction: column;
    display: flex;

    .header {
      padding: 1rem;
      text-align: center;
    }

    .body {
      padding: 1rem;
      flex: 1 1 auto;
    }

    .close-icon {
      z-index: 1000;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
    }
  }
  
  .overlay {
    width: 100vw;
    height: 100vh;
    background-color: grey;
    opacity: 0.5;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
  }
}

@media screen and (max-width: 767px) {
  .modal-content {
    width: 90%!important;
  }
}

@media screen and (min-width: 768px) {
  .modal-content {
    min-width: 50%;
  }
}